 :host{
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: beige;
    min-height: 100vh;
}

h1{
    color: black;
}